.bgGrey{
  background-color: #d5d5dc;
}
/*grabbing the header*/
._3gTh_,
.p2nb7 {
  background-color: #4B4B5A;
}
.LargeText p {
  font-size: 60px;
  color: red;
}

.cardContainer {
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
}

/*individual card class*/
._1UkvN {
  margin: 20px;
  width: 300px;
  height: 300px;
}

.buffer {
  margin: 20px;
  padding: 20px;
}

.circleButtonRed {
  background-color: red;
  width: 60px;
  height: 60px;
  margin: 15px;
  border-radius: 50%;
}
.circleButtonGreen {
  background-color: limegreen;
  width: 60px;
  height: 60px;
  margin: 15px;
  border-radius: 50%;
}
.circleButtonBlue {
  background-color: royalblue;
  width: 60px;
  height: 60px;
  margin: 15px;
  border-radius: 50%;
}